@model Vial3._1.Models.vial_afiliados
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

@foreach (var item in Mo)
{
    @Html.DisplayNameFor(model => model.idAfiliados)
}